.board {
  display: flex;
  padding: 8px;
  overflow: auto;
  height: 100%;
  .board__action-column {
    text-align: center;
    min-width: 250px;
    padding-right: 10px;
  }
  .board__column-content {
    min-height: 100px;
  }
  .board__column {
    min-height: 100px;
    max-height: 90%;
    overflow: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0 8px 0 0;
    background: rgba(255,255,255,0.8);
  }
  .board__column--draging {
    margin: 30px 8px 0 0;
    background: white;
  }
  .board__column-header {
    user-select: none;
    min-width: 250px;
    padding: 8px;
    text-align: center;
    margin: 0 8px 0 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 30px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-weight: bolder;

    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .board__column-header--draging {
    background: #F97F51;
  }
  .board__task {
    padding: 10px;
  }
  .board__task--draging {
    padding: 10px;
    background: #F97F51;
    border-radius: 10px;
  }

  .text--center {
    text-align: center;
  }
  .block--full-size {
    width: 100%;
  }
}