.home-page {
  position: absolute;
  top: 50px;
  height: calc(100vh - 50px);
  width: 100vw;
  z-index: 0;
  background-size: cover;
  background-position: center bottom;
  .home-page__add-task-row {
    padding: 2px;
    .form-group {
      margin: 0;
    }
    .home-page__action-buttons {
      display:flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  div::-webkit-scrollbar {
    width: 10px;
  }

  div::-webkit-scrollbar-thumb {
    background: #666;
  }

  div::-webkit-scrollbar-track {
    background: #ddd;
  }
}